#search-dropdown {
  position: absolute;
  top: 28px;
  left: 139px;
  width: 160px;
  padding: 5px 10px;

  background-color: $lightest-gray;
  font-size: 85%;

  border: 0 solid $light-gray;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
  z-index: 1;
}

#search-dropdown li {
  padding: 3px 0;
}

#search-dropdown li:hover {
  cursor: pointer;
}
