.gray-btn, .transparent-btn, .darkest-btn {
  padding: 7px 9px;
  margin: 3px;
  font-weight: bold;
  font-family: $sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
	transition: background-color 0.3s ease;
}

.transparent-btn {
  color: $light-plum;
	background-color: inherit;
}

.gray-btn {
  color: $dark-plum;
	background-color: $light-plum;
}

.darkest-btn {
  color: $light-plum;
	background-color: $dark-plum;
}

.transparent-btn:hover {
  background-color: $dark-plum;
  border-color: $dark-plum;
}

.gray-btn:hover {
  background-color: $gray-plum;
  border-color: $gray-plum;
}

.darkest-btn:hover {
  background-color: $light-plum;
  border-color: $light-plum;
}
