.gray-btn, .transparent-btn, .darkest-btn, .submit-btn {
  padding: 7px 9px;
  margin: 3px;
  font-weight: bold;
  font-family: $sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
	transition: background-color 0.3s ease;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.transparent-btn {
  color: $light-plum;
	background-color: inherit;
  box-shadow: none;
}

.gray-btn {
  color: $dark-plum;
	background-color: $light-plum;
  border-color: $light-plum-shadow;
}

.darkest-btn {
  color: $light-plum;
	background-color: $dark-plum;
  border-color: $dark-plum-shadow;
}

.transparent-btn:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: $dark-plum;
  border-color: $dark-plum-shadow;
}

.gray-btn:hover {
  background-color: $gray-plum;
  border-color: $gray-plum-shadow;
  color: $light-plum;
}

.darkest-btn:hover {
  background-color: $light-plum;
  border-color: $light-plum-shadow;
}

.submit-btn {
  color: $light-plum;
  background-color: $plum;
  border-color: $plum-shadow;
}

.submit-btn:hover {
  background-color: $gray-plum;
  border-color: $gray-plum-shadow;
}
