$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$off-white: #F2C7B0;
$scarlet: #421925;
$warm-gray: #7A5F67;
$deep-plum: #2D1727;
$plum: #562348;
$pale-pink: #A3637A;

$opaque-gray: rgba(99, 63, 73, 0.66);
