$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$white-plum: #F7BEBE;
$light-plum: #D88F93;
$gray-plum: #682A3E;
$plum: #3F1032;
$dark-plum: #280A20;

$opaque-gray: rgba(99, 63, 73, 0.66);
