$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$white-plum: #F7BEBE;
$white-plum-shadow: #DDAAAA;

$light-plum: #D88F93;
$light-plum-shadow: #C98489;

$gray-plum: #682A3E;
$gray-plum-shadow: #562233;

$plum: #3F1032;
$plum-shadow: #330C28;

$dark-plum: #280A20;
$dark-plum-shadow: #21081A;

$opaque-gray: rgba(169, 85, 89, 0.67);
