/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
  font-family: $sans-serif;
	width: 80%;
	margin: 0 auto;
	font-size: 12px;
}

link {
	color: $dark-plum;
}

i {
	font-size: 20px;
}

.map{
	width: 500px;
	height: 500px;
	float: left;
	position: relative;
}

.hidden {
	display: none;
}

.gulp-logo {
  font-size: 20px;
  color: $white-plum;
  font-family: $sans-serif;
  padding: 10px;
	text-shadow: -3px 0 $dark-plum, 0 3px $dark-plum, 3px 0 $dark-plum, 0 -3px $dark-plum;
}

.gulp-logo:not(#main-gulp-logo):hover {
  font-size: 20px;
  color: $light-plum;
	transition: color 0.3s ease;
}

/*
	Header Rules
*/
h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 12px;
	font-weight: bold;
}

h3 {
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
}

@media all and (max-width: 1043px) {
	.search, .sections {
		display: none;
	}

	i.fa-search {
		font-size: 18px;
	}
}
