/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
  font-family: $sans-serif;
	width: 80%;
	margin: 0 auto;
	font-size: 17px;
}

link {
	color: $dark-plum;
}

i {
	font-size: 32px;
}

.map{
	width: 800px;
	height: 800px;
	float: left;
	position: relative;
}

.hidden {
	display: none;
}

.gulp-logo {
  font-size: 38px;
  color: $white-plum;
  font-family: $sans-serif;
  padding: 16px;
	text-shadow: -5px 0 $dark-plum, 0 5px $dark-plum, 5px 0 $dark-plum, 0 -5px $dark-plum;
}

.gulp-logo:not(#main-gulp-logo):hover {
  color: $light-plum;
	transition: color 0.3s ease;
}

/*
	Header Rules
*/
h1 {
	font-size: 30px;
	font-weight: bold;
	font-family: $garamond;
}

h2 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: $garamond;
}

h3 {
	font-size: 18px;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: $garamond;
}

@media all and (max-width: 1043px) {
	.search, .sections {
		display: none;
	}
}
