/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
  font-family: $sans-serif;
	width: 80%;
	margin: 0 auto;
	font-size: 12px;
}

link {
	color: $deep-plum;
}

.map{
	width: 500px;
	height: 500px;
	float: left;
	position: relative;
}

.hidden {
	display: none;
}

.gulp-logo {
  font-size: 20px;
  color: $pale-pink;
  font-family: $sans-serif;
  padding: 10px;
	text-shadow: -3px 0 $plum, 0 3px $plum, 3px 0 $plum, 0 -3px $plum;
}

/*
	Header Rules
*/
h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 12px;
	font-weight: bold;
}

h3 {
	font-size: 10px;
	font-weight: normal;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 7px;
	text-transform: uppercase;
	border-bottom: 1px solid $light-gray;
}

@media all and (max-width: 1043px) {
	.search, .sections {
		display: none;
	}

	i.fa-bars, i.fa-search {
		font-size: 18px;
	}
}
