.biz-show-info {
  position: absolute;
  top: 135px;
  left: 40px;

  color: $dark-plum;
  font-weight: bold;
  background-color: $light-plum;
  padding: 10px;
}

.biz-show-info h3 {
  border-bottom: 1px solid $dark-plum;
}

.biz-show-info div {
  padding-top: 4px;
}
