.biz-index {
  position: absolute;

  width: 500px;
  top: 80px;
  left: 55px;

  border-radius: 5px;

  margin-bottom: 30px;
  padding: 30px 16px 120px 16px;
  background-color: $white-plum;
  border: 1px solid $white-plum-shadow;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  z-index: 1;
}

.biz-index li {
  width: 100%;
  height: 350px;
  list-style: none;
  padding-bottom: 16px;
  border: 1px solid black;
  display: block;
}

.biz-index-title, .session-box-title {
  color: $dark-plum;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid $dark-plum;
}

.biz-index-detail{
  background-color: $light-plum;
  border: 1px solid $light-plum-shadow;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 16px;
  margin: 32px 0;
  width: 380px;
}

.biz-index-detail:hover{
  background-color: $opaque-gray;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.biz-index-detail img {
  margin-left: auto;
  margin-right: auto;
}

.info-box{
  padding: 35px;
  color: $dark-plum;
}

.info-box h3{
  border-bottom: 1px solid $dark-plum;
}
