.biz-index {
  width: 300px;
  top: 60px;
  left: 40px;
  position: absolute;
  border-radius: 3px;

  padding: 20px;
  background-color: $gray-plum;
}

.biz-index li {
  width: 100%;
  height: 200px;
  list-style: none;
  padding-bottom: 10px;
  border: 1px solid black;
  display: block;
}

.biz-index-detail {
  margin: 20px 0px;
  width: 100%;
}

.biz-index-title {
  color: $light-plum;
  font-weight: lighter;
}
