.main-nav {
  background-color: $plum;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
	display: flex;
	justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.new-session-btns {
  padding: 8px;
  display: flex;
}

.search-bar {
  width: 700px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

i.fa-search {
  font-size: 30px;
  color: $light-plum;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-plum;
  border-radius: 0px 5px 5px 0px;
}

i.fa-search:hover {
  color: $plum;
  transition: color 0.3s ease;
}

.search-bar form {
  width: 650px;
  display: flex;
  border-radius: 0px 3px 3px 0px;
}

.search-bar input {
  background-color: $light-plum;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  border-radius: 3px 0px 0px 3px;
}

.search-bar input[type="text"]:disabled {
  color: $lightest-gray;
  font-style: italic;
  width: 50%
}

ul.dropdown-list {
  width: 391px;
  font-size: 85%;
  background-color: $light-plum;
  position: absolute;
  z-index: 1;

  border: 0 solid $light-plum;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
  border-radius: 0px 0px 3px 3px;
  padding: 6px
}

.dropdown-list li {
  padding: 6px 20px;
  cursor: pointer;
  color: $dark-plum;
  background-color: $light-plum;
}

.dropdown-list li:hover {
  cursor: pointer;
  background-color: $white-plum;
  border-radius: 4px;
}

.search-bar input::placeholder {
  color: $gray-plum;
}
