#main-gulp-logo {
  font-size: 50px;
  text-align: center;
  text-shadow: -5px 0 $plum, 0 5px $plum, 5px 0 $plum, 0 -5px $plum;
}

#main-detail {
  text-align: center;
  position: fixed;
  top: 150px;
  width: 100%;
}

.main-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-image: url("https://images.unsplash.com/photo-1470752354724-60a1d2b1907f?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&dl=julia-d-alkmin-121797.jpg");
  background-size: 100% auto;
  background-position: 50px auto;
  z-index: -1;
  display:flex;
  align-items: center;
}
