#main-gulp-logo {
  font-size: 50px;
  text-align: center;
  text-shadow: -5px 0 $dark-plum, 0 5px $dark-plum, 5px 0 $dark-plum, 0 -5px $dark-plum;
}

#main-detail {
  text-align: center;
  position: fixed;
  top: 150px;
  width: 100%;
}

.main-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-image: url("https://pixabay.com/get/eb35b3062df6033ed1584d05fb0938c9bd22ffd41db8124691f3c87aa2/brown-2029522_1280.png");
  background-color: $plum;
  background-size: 100% auto;
  background-position: 50px auto;
  z-index: -1;
  display:flex;
  align-items: center;
}
