#search-map {
  height: 400px;
  width: 100%;
  position: fixed;
  top: 35px;
  left: 0px;
  z-index: -1;
}

#single-biz-map {
  height: 600px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
