.review-index-detail {
  color: $dark-plum;
  padding: 20px 12px;
  border-radius: 3px;
}

#review-delete-btn{
  color: $light-plum;
  background-color: $plum;
  border: 1px solid $plum-shadow;
  cursor: pointer;
  width: 40px;
  font-size: 10px;
  padding: 4px;
}

#review-delete-btn:hover {
  background-color: $error-red;
  border: 1px solid $error-red-shadow;
}

#edit-in-progress {
  background-color: $white-plum;
  color: $gray-plum;
}
