.review-form-section {
}

.review-form-section h2{
  width: 160px;
  padding: 18px 0 3px 12px;
  font-size: 16px;
  text-align: left;
  color: $light-plum;
  border-bottom: 1px solid $light-plum;
}

.review-form {
  background-color: $whitest-plum;
  margin: 18px 60px;
  padding: 25px 45px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.review-form-content {
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  width: 300px;
  height: 100px;
}

#review-form-stars {
  display: flex;
}

#stars-img {
  position:relative;
  z-index: 1;
  left: 0;
}

#rating-mouseover-numbers {
  position:relative;
  left: -166px;
  cursor: pointer;
  width: 165px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

#rating-mouseover-numbers span {
  border: 1px solid black;
  width: 33px;
  opacity: 0;
}

.review-form-end {
}

.review-form-end a{
  color: $gray-plum;
}

.review-form-end a:hover{
  color: $light-plum;
}

.review-form-submit {
  color: $gray-plum;
}

.review-edit-form {
}
