.review-form-section {

}

.review-form-content {
  border: 1px solid black;




  border-radius: 3px;
  padding: 15px;
}

.review-form-stars {
  position: relative;
  margin: 40px;
}

#stars-img-form {
  z-index: -1;
}

#stars-img-form {
  position: absolute;
  top: 0;
}

.review-form-end {


}

.review-form-end a{
  color: $gray-plum;
}

.review-form-end a:hover{
  color: $light-plum;
}

#rating-mouseover-numbers {
  top: -2px;
  left:  -2px;
  position: absolute;
  cursor: pointer;
  width: 165px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

#rating-mouseover-numbers span {
  border: 1px solid black;
  width: 33px;
}

.review-form-submit {
  color: $gray-plum;
}

.review-edit-form {



}
