.review-form-content {
  border: 1px solid black;
  position: absolute;
  top: 45px;
  width: 70%;
  height: 100px;
  border-radius: 3px;
}

.review-form-stars {
  position: relative;
  margin: 40px;
}

#stars-img-form {
  z-index: -1;
}

#stars-img-form, #rating-mouseover-numbers {
  position: absolute;
  top: 0;
}

.review-form-end {
  position: absolute;
  top:160px;
}

.review-form-end a:hover{
  color: $plum;
}

#rating-mouseover-numbers {
  top: -2px;
  left:  -2px;
  position: absolute;
  cursor: pointer;
  width: 165px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

#rating-mouseover-numbers span {
  border: 1px solid black;
  width: 33px;
}

.review-form-submit {
  color: $gray-plum;
}
