.review-section {
  position: absolute;
  top: 430px;
  left: 0;
  display: flex;
}

.review-section-header {
  margin-bottom: 10px;
}

.review-section-col-2 {
  background-color: $gray-plum;
  display: flex;
  flex-direction: column;
}
