.new-session-form input {
  margin: 10px auto;
  padding: 7px 9px;
  font-family: $sans-serif;
}

#new-session-box {
  background-color: $opaque-gray;
  position: absolute;
  top: 150px;
  right: 80px;
  padding: 40px;
  border-radius: 3px;
}
