.new-session-box {
  width: 500px;
  background-color: $light-plum;
  position: absolute;
  right: 160px;
  padding: 32px;
  border-radius: 5px;
  color: $dark-plum;
  border: 1px solid $light-plum-shadow;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.or-transition {
  text-align: center;
  color: $white-plum;
  font-size: 12px;
}

.new-session-box input[type="text"] {
  border-radius: 3px 3px 0 0;
}

.new-session-box input[type="password"] {
  border-radius: 0 0 3px 3px;
}

.new-session-box input {
  background-color: $white-plum;
  width: 80%;
  height: 100%;
  padding: 11px 20px;
  font-size: 16px;
}

.new-session-box input::placeholder {
  color: $light-plum;
}

.new-session-box form {
  text-align: center;
  width: 100%;
}

#session-form {
  margin-top: 11px;
}

.session-form-btn {
  margin: 0;
  margin-top: 5px;
}

#demo-btn {
  margin-bottom: 10px
}

#back-to-main, #session-form-switch {
  color: $dark-plum;
  font-size: 16px;
  margin-top: 5px;
  text-align: right;
}

#back-to-main span, #session-form-switch span {
  cursor: pointer;
  color: $gray-plum;
}

#back-to-main span:hover, #session-form-switch span:hover {
  color: $white-plum;
}
