.biz-show-yelp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biz-index-yelp .yelp-logo {
  display: none;
}

.yelp-logo {
  height: 40px;
}

img.stars {
  height: 25px;
}

.yelp-promo:hover {
  font-size: 14px;
  color: $plum;
}
